/*
선택자 selector {
     property : value ; 
}
*/
        /* 우선순위 : 포괄 < 구체 (큰태그는 작은 태그에 진다) */
        /* 우선순위 : class < id << !important */
        /* 우선순위 : 같은 급일 때(class), 위 < 아래 코드의 우선순위가 더 높다. */
    * {
        color : gray; 
    }
    li {
        color: teal;
    }
    #one{
        color: orange;
    }
    .cute {
        color: crimson !important;  /*id보다 더 세다 가장 큰 순위: important */
    }
    .two {
        color: darkmagenta;
    }